.theme-absolut {

    /* Base colors */
    --color-black: #000000;

    --color-blue-light: #2cc3f5;
    --color-blue: #0bbaf4;
    --color-blue-dark: #0aa1d3;

    --color-cyan-light: #1bbdd6;
    --color-cyan: #17a2b8;
    --color-cyan-dark: #13879a;

    --color-green-light: #78e58f;
    --color-green: #5cdf77;
    --color-green-dark: #40d95f;

    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;

    --color-orange-light: #f79d40;
    --color-orange: #f68c1f;
    --color-orange-dark: #ea7b09;

    --color-red-light: #f2021f;
    --color-red: #d0021b;
    --color-red-dark: #ae0217;

    --color-yellow-light: #ffe185;
    --color-yellow: #ffd963;
    --color-yellow-dark: #ffd141;

    --color-white: #ffffff;


    /* Product colors */

    --color-danger-light: var(--color-red-light);
    --color-danger: var(--color-red);
    --color-danger-dark: var(--color-red-dark);

    --color-default-light: var(--color-gray-100);
    --color-default: var(--color-gray-200);
    --color-default-dark: var(--color-gray-300);

    --color-info-light: var(--color-blue-light);
    --color-info: var(--color-blue);
    --color-info-dark: var(--color-blue-dark);

    --color-primary-light: var(--color-orange-light);
    --color-primary: var(--color-orange);
    --color-primary-dark: var(--color-orange-dark);

    --color-success-light: var(--color-green-light);
    --color-success: var(--color-green);
    --color-success-dark: var(--color-green-dark);

    --color-warning-light: var(--color-yellow-light);
    --color-warning: var(--color-yellow);
    --color-warning-dark: var(--color-yellow-dark);

    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-700);
    --color-text-tetriary: var(--color-gray-500);

}
