.theme-alfa {

    /* Base colors */
    --color-black: #000000;

    --color-blue-light: #70b7ff;
    --color-blue: #4ea6ff;
    --color-blue-dark: #2c95ff;

    --color-cyan-light: #1bbdd6;
    --color-cyan: #17a2b8;
    --color-cyan-dark: #13879a;

    --color-green-light: #0fda2c;
    --color-green: #0dba26;
    --color-green-dark: #0b9a20;

    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;

    --color-red-light: #f26359;
    --color-red: #f04539;
    --color-red-dark: #ee2719;

    --color-yellow-light: #ffb422;
    --color-yellow: #ffa900;
    --color-yellow-dark: #dd9200;

    --color-white: #ffffff;


    /* Product colors */

    --color-danger-light: var(--color-red-light);
    --color-danger: var(--color-red);
    --color-danger-dark: var(--color-red-dark);

    --color-default-light: var(--color-gray-100);
    --color-default: var(--color-gray-200);
    --color-default-dark: var(--color-gray-300);

    --color-info-light: var(--color-blue-light);
    --color-info: var(--color-blue);
    --color-info-dark: var(--color-blue-dark);

    --color-primary-light: var(--color-red-light);
    --color-primary: var(--color-red);
    --color-primary-dark: var(--color-red-dark);

    --color-success-light: var(--color-green-light);
    --color-success: var(--color-green);
    --color-success-dark: var(--color-green-dark);

    --color-warning-light: var(--color-yellow-light);
    --color-warning: var(--color-yellow);
    --color-warning-dark: var(--color-yellow-dark);

    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-700);
    --color-text-tetriary: var(--color-gray-500);

}
