.theme-alfa {

    /* Family */
    --font-family-roboto: 'Roboto', sans-serif;

    /* Size */
    --font-size-xxxl: 30px;
    --font-size-xxl: 24px;
    --font-size-xl: 21px;
    --font-size-l: 17px;
    --font-size-m: 14px;
    --font-size-s: 13px;
    --font-size-xs: 11px;

    --base-font-family: var(--font-family-roboto);
}
