.theme-absolut {
    --button-border-width: 1px;
    --button-border-radius: var(--border-radius);
    --button-box-shadow: 0 5px 10px 0 rgba(243, 243, 243, 0.3);
    --button-box-shadow-hover: 0 5px 10px 0 rgba(243, 243, 243, 0.3);
    --button-box-shadow-focus: 0 5px 10px 0 rgba(243, 243, 243, 0.3);

    /* Rounded */
    --button-rounded-border-radius-xs: 29px;
    --button-rounded-border-radius-s: 41px;
    --button-rounded-border-radius-m: 52px;
    --button-rounded-border-radius-l: 66px;

    /* Size: xs */
    --button-size-xs-padding: 7px 10px;
    --button-size-xs-loading-padding-left: 26px;
    --button-size-s-padding: 12px 16px;
    --button-size-s-loading-padding-left: 36px;
    --button-size-m-padding: 17px 25px 17px;
    --button-size-m-loading-padding-left: 55px;
    --button-size-l-padding: 22px 30px;
    --button-size-l-loading-padding-left: 22px 22px 21px;

    /* Type: default */
    --button-type-default-background-color: transparent;
    --button-type-default-border-color: var(--color-default);
    --button-type-default-color: var(--color-text-primary);

    --button-type-default-hover-background-color: var(--color-default-light);
    --button-type-default-hover-border-color: var(--color-default-dark);
    --button-type-default-hover-color: var(--color-text-primary);

    --button-type-default-focus-background-color: var(--color-default-light);
    --button-type-default-focus-border-color: var(--color-default-light);
    --button-type-default-focus-color: var(--color-text-primary);

    /* Type: danger */
    --button-type-danger-background-color: var(--color-danger);
    --button-type-danger-border-color: var(--color-danger);
    --button-type-danger-color: var(--color-white);

    --button-type-danger-hover-background-color: var(--color-danger-dark);
    --button-type-danger-hover-border-color: var(--color-danger-dark);
    --button-type-danger-hover-color: var(--color-white);

    --button-type-danger-focus-background-color: var(--color-danger-light);
    --button-type-danger-focus-border-color: var(--color-danger-light);
    --button-type-danger-focus-color: var(--color-white);

    /* Type: info */
    --button-type-info-background-color: var(--color-info);
    --button-type-info-border-color: var(--color-info);
    --button-type-info-color: var(--color-white);

    --button-type-info-hover-background-color: var(--color-info-dark);
    --button-type-info-hover-border-color: var(--color-info-dark);
    --button-type-info-hover-color: var(--color-white);

    --button-type-info-focus-background-color: var(--color-info-light);
    --button-type-info-focus-border-color: var(--color-info-light);
    --button-type-info-focus-color: var(--color-white);

    /* Type: primary */
    --button-type-primary-background-color: var(--color-primary);
    --button-type-primary-border-color: var(--color-primary);
    --button-type-primary-color: var(--color-white);

    --button-type-primary-hover-background-color: var(--color-primary-dark);
    --button-type-primary-hover-border-color: var(--color-primary-dark);
    --button-type-primary-hover-color: var(--color-white);

    --button-type-primary-focus-background-color: var(--color-primary-light);
    --button-type-primary-focus-border-color: var(--color-primary-light);
    --button-type-primary-focus-color: var(--color-white);

    /* Type: success */
    --button-type-success-background-color: var(--color-success);
    --button-type-success-border-color: var(--color-success);
    --button-type-success-color: var(--color-white);

    --button-type-success-hover-background-color: var(--color-success-dark);
    --button-type-success-hover-border-color: var(--color-success-dark);
    --button-type-success-hover-color: var(--color-white);

    --button-type-success-focus-background-color: var(--color-success-light);
    --button-type-success-focus-border-color: var(--color-success-light);
    --button-type-success-focus-color: var(--color-white);

    /* Type: warning */
    --button-type-warning-background-color: var(--color-warning);
    --button-type-warning-border-color: var(--color-warning);
    --button-type-warning-color: var(--color-white);

    --button-type-warning-hover-background-color: var(--color-warning-dark);
    --button-type-warning-hover-border-color: var(--color-warning-dark);
    --button-type-warning-hover-color: var(--color-white);

    --button-type-warning-focus-background-color: var(--color-warning-light);
    --button-type-warning-focus-border-color: var(--color-warning-light);
    --button-type-warning-focus-color: var(--color-white);
}
